.main-section {
    padding-top: 100px;
    padding-bottom: 94px;
}

.buttons-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 50px;
}

.button-list__item {
    background-color: #F5F4FA;
    &:not(:last-child) {
        margin-right: 8px;
    }
}